

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  background-color: goldenrod;
  width: 100%;
  
}

/* media queries*/
@media only screen and (min-width: 1024px){

  .headerContainer {
    margin-top: 140px;
    height: 400px;
    width: 33%;
    margin-left: 25px;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }  

}