header {
  height: 520px; 
  padding-top: 120px;
  margin: 120px;
  background-color: blueviolet;
} 

.headerContainer {
  display: flex;
  padding-top: 120px;
  margin: 120px;
  background-color: blueviolet;
}
