.new-tweet {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 75%;
  /* justify-content: center;
  align-items: center; */
}

.tweetForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  font-size: 25px;
  font-family: "Bungee", sans-serif;
  padding: 10px;
  border: 5px solid darkgray;
  
}

textarea {
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 2px solid black; 
  border-top: 0px; 
  border-left: 0px; 
  border-right: 0px; 
  background-color: lightgrey;
}


#btndiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #4056A1;;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 25px;
  font-family: "Bungee", sans-serif; */
  margin: 4px 2px;
  cursor: pointer;
  font-size: 25px;
}

